@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');

:root {
    --marketGateGrey: #333;
    --marketGatePink: #B60950;
}
body {
    overflow-x: hidden;
}
* {
    scroll-behavior: smooth;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Oswald', sans-serif;
}
@font-face {
    font-family: 'Oswald', sans-serif;
}
a {
    text-decoration: none !important;
}
.fontWhite {
    color: white !important;
}
.fontBlack {
    color: black !important;
}
.fontPink {
    color: var(--marketGatePink) !important;;
}
.overflowWrapper {
    overflow-x: hidden;
}
nav {
    z-index: 10;
    display: flex;
    height: 80px;
    width: 100%;
    background: white;
    align-items: center;
    justify-content: space-between;
    padding: 0 50px 0 25px;
    flex-wrap: wrap;
}
nav .logoImage {
    height: 100%;
}
nav ul {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    justify-content: space-between;
}
ul {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
}
ul li {
    margin: 0.5rem;
}
nav ul li {
    margin: 0 5px;
}
nav ul li a {
    height: 35%;
    color: black !important;
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
    padding: 8px 15px;
    letter-spacing: 1px;
    transition: all 0.3s ease;
}
nav ul li a:hover {
    color: var(--marketGatePink) !important;
}
nav .menu-btn i {
    color: var(--marketGatePink);
    font-size: 22px;
    cursor: pointer;
    display: none;
    transition: 0.3s ease;
}
nav .menu-btn i:hover {
    color: var(--marketGatePink);
    transition: 0.3s ease;
}
input[type="checkbox"] {
    display: none;
}
@media (max-width: 1100px) {
    nav {
        padding: 0 40px 0 50px;
    }
}
@media (max-width: 960px) {
    html {
        font-size: 12px;
    }
    nav .menu-btn i {
        display: block;
    }
    #click:checked ~ .menu-btn i:before {
        content: "\f00d";
    }
    nav {
        background: white;
        width: 100%;
    }
    nav ul {
        position: fixed;
        top: 80px;
        right: -100%;
        background: white;
        height: 100vh;
        width: 100%;
        text-align: center;
        display: block;
        transition: all 0.3s ease;
    }
    #click:checked ~ ul {
        right: 0;
    }
    nav ul li {
        width: 100%;
        margin: 40px 0;
    }
    nav ul li a {
        width: 100%;
        margin-right: -100%;
        display: block;
        font-size: 20px;
        color: black;
    }
    #click:checked ~ ul li a {
        margin-left: 0;
    }
    nav ul li a.active, nav ul li a:hover {
        background: none;
        color: var(--marketGatePink) !important;
    }
    nav .logoImage {
        height: 95%;
    }
}
.section-container {
    background-color: var(--overairGrey);
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    display: flex;
    flex-wrap: wrap;
}
.section-container .columns {
    flex: 0 0 auto;
    width: 50%;
}
.section-container .columns.image {
    background-position: center;
    background-repeat: no-repeat;
}
.section-container .columns.content .content-container {
    padding: 40px 50px;
}
.section-container .columns.content .content-container h1 {
    font-weight: 1800;
    font-size: 38px;
}
.section-container .columns.content .content-container h2 {
    font-weight: 1000;
}
.section-container .columns.content .content-container .android {
    border-bottom: 3px solid var(--overairPink);
    border-radius: 5px;
    transform-origin: right;
}
.section-container .columns.content .content-container .apple {
    border-bottom: 3px solid #666666;
    border-radius: 5px;
    transform-origin: left;
}
.section-container .columns.content .overairD {
    border-bottom: 3px solid var(--overairPink);
    border-radius: 5px;
}
.section-container .columns.content .content-container p {
    font-weight: 550;
    margin-bottom: 7px;
    font-size: 17px;
}
@media screen and (max-width:767px) {
    .section-container {
        flex-flow: row wrap;
    }
    .section-container .columns.image {
        display: block;
        order: 2;
        width: 100%;
        height: 375px;
    }
    .section-container .columns.content {
        display: block;
        order: 1;
        width: 100%;
    }
    .section-container .columns.content .content-container {
        padding: 20px 35px;
    }
    .section-container .columns.content .content-container h1 {
        margin-bottom: 5px;
    }
    .section-container .columns.content .content-container h2 {
        font-size: 28px;
        font-weight: 800;
    }
    .section-container .columns.content .content-container h2 p {
        justify-content: center;
        align-content: center;
    }
}
.bg {
    padding-block: 18rem;
    margin-block-end: 0;
    background-image: url("Images/pexels-maurício-mascaro-788824.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.aboutUs {
    width: 100vw;
    height: 400px;
    background-color: white;
}
.facebook {
    height: 500px;
    width: 100vw;
    background-color: var(--marketGateGrey);
}
.footer {
    height: 75px;
    border-top: 1px solid var(--marketGatePink);
}
.grid {
    display: grid;
    place-items: center;
}
.bigH1 {
    font-size: 75px;
    font-weight: 1400;
}
.h1Sep {
    font-size: 54px;
    font-weight: 1000;
}
.pSep {
    text-align: center;
    font-size: 24px;
    font-weight: 600;
}
.textContainer {
    text-align: center;
    width: 50%;
}
.blue {
    width: 100vw;
    height: 350px;
    background-color: blue;
}